.App {
  text-align: center;
  margin-top: 50px;
}

.con {
  font-size: 24px;
  margin-bottom: 20px;
}

.doc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}

.dec,
.inc {
  font-size: 18px;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  outline: none;
}

.dis {
  font-size: 24px;
  font-weight: bold;
}

.reset {
  font-size: 18px;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 4px;
  outline: none;
  margin-top: 20px;
}

.reset:hover,
.dec:hover,
.inc:hover {
  background-color: #2c3e50;
}
